dialog {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    color: #ccc;
    padding: 10px 20px;
    border: 1px solid #ccc;
    font-size: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    min-width: 160px;
    text-align: center;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0);
}
